/* Conceito padrão para todas as paginas de Body e NavBar! {todos arquivos html} */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

#tela-de-login {
    background-color: #232323;
}

#nav-bar {
    margin: 0;
    background-color: 232323;
    padding: 20px;
    position: sticky;
    text-align: center;
    border-bottom: red solid 15px;
}

#nav-bar h1 {
    color: white;
    display: inline;
}

#nav-bar li {
    list-style: none;
    display: inline;
    padding-left: 20px;
}

#nav-bar a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

#nav-bar a:hover {
    color: pink;
    font-size: 23px;
    text-decoration: underline;
    text-transform: uppercase;
}

/* Caixa de Login {Tela-de-Login} */

.container {
    margin: auto;
    width: 500px;
    overflow: auto;
    padding: 3rem 2rem;
}

#my-form {
    padding: 2rem;
    background: #f4f4f4;
    border-radius: 10px;
}
  
#my-form label {
    display: block;
}
  
#my-form input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#my-form input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#login {
   margin-top: 10px; 
   margin-bottom: 10px;
}
  
.btn {
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: 0;
    background: #262626;
    color: #fff;
    border-radius: 5px;
    margin: 5px 0;
}
  
.btn:hover {
    background: #444;
}

.error {
    background: orangered;
    color: #fff;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

/* Caixa de postagens {PaginaPrincipal} */

.post-box {
    background-color: 232323;
    color: white;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    padding: 20px;
}

.post-box a {
    padding-top: 20px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.user-id {
    margin-bottom: 50px;
}

.post-hour {
    display: inline;
    font-weight: 600;
}

.post-box h4 {
    display: block;
    margin: 10px 10px 10px 0px;   
}

.pfp-post {
    width: 50px;
    height: 50px;
    display: inline;
}

.info-post a {
    margin: 5px;
    position: relative;
    bottom: 17px;
}

.info-post p {
    margin: 5px;
    position: relative;
    bottom: 17px;
}

.post-content {
    padding-bottom: 10px;
}

/* Conceito padrão para todas as paginas de Rodapé! {todos arquivos html} */

#footer-box {
    background-color: 232323;
    color: white;
    margin: 0;
    padding: 20px;
    text-align: center;
    border-top: red solid 15px;
}